/* ThreeScene.module.css */
:global(body, html) {
  overflow-x: hidden;
}

:global(*) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sphereContainer{
  position: absolute;
  z-index: 1;
  top: 40vh;

  right: 5vw;
  margin-right: 20px;

  text-align: center;

}

.webgl {
  display: block;
}

.title {
  font-size: 1rem;
  color: #FFFF3F;
}


@media only screen and (max-width: 600px) {
  .sphereContainer{
    
    top:27vh;
    left:10vw;
  }
  .title {
    position: absolute;
    top: 40vh;
    left: 30vw;
    font-size: 1.2rem;

  }
}
