
.catContainer{
  position: absolute;
  .catImg{
    width: 14rem;
    object-fit: fill;
    
  }
}

.eyesContainer{
  position: absolute;
  display: flex;
  column-gap: 7px;
  top: 70px;
  left: 79px;
}

.eyesInProjects{
  transform: rotate(180deg);
  top: 68px;

}

.eyesInHome{
  transform: rotate(0deg);
}

.leftEye{
  /* add this in mobile versoin */
  /* transition: transform 0.25s ease-in-out; */
  width: 2rem;
}

.rightEye{
  width: 2rem;
  
}


.catInHome{
  right: 100vw;
}

.catInContact{
  right: 6vw;
  bottom: -40vh;
}

.catInProjects{
  right: 0vw;
  bottom: -40vh;
}

.catInAboutMe{
  bottom: 40px;
  right: -30px;
  transform: rotate(180deg);
}