/* hero.module.css */

.upperText{
  margin-top: 5vh;
}

.subtext {
  color: #FFFF3F; /* Default color */
  mix-blend-mode: difference;
  font-size: 1rem;

  padding: 10px;
}

.maintext {
  color: #FFFF3F; /* Default color */
  mix-blend-mode: difference;
  padding: 10px;
  overflow: hidden;  

  font-size: 8rem;
  word-spacing: 7rem;
  width: 100vw;
  text-wrap: nowrap;
}


.bottomText{
  position: relative;
  bottom: 0;
}

.bottomSubtext {
  color: #FFFF3F; /* Default color */
  mix-blend-mode: difference;
  padding: 10px;
  font-size: 1rem;
}

.bottomMaintext {
  color: #FFFF3F; /* Default color */
  mix-blend-mode: difference;
  padding: 10px;
  overflow: hidden;  

  font-size: 8rem;
  word-spacing: 6rem;
  white-space:nowrap;
}

.heroContainer{
  height: 100vh;
  overflow: hidden;
}


.catContainer{
  position: absolute;
  right: 0;
  top: 30vh;
  .catImg{
    width: 14rem;
    object-fit: fill;
    
  }
}

.leftEye{
  width: 2rem;
  position: absolute;
  top: 70px;
  left: 79px;
}

.rightEye{
  width: 2rem;
  position: absolute;
  top: 70px;
  left: 118px;
}


@media only screen and (max-width: 600px) {
  .heroContainer{
    height: 100vh;
    overflow: hidden;
  }
  
  
  .upperText{
    /* margin-top: 5vh; */
    margin: 0;
    margin-top: 4vh;
    padding: 2dvh 2dvw;
  }
  .subtext{
    font-size: 0.7rem;
  }
    
  .maintext {
    text-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin-top: -1vh;
    
    .MobileOUTSIDE{
      font-size: 3rem;
      
    }
    .MobileTheBox{
      width: 100vw;
      margin-top: -0.5dvh;
      word-spacing: 0;
      letter-spacing: 0.3rem;
      font-size: 6rem;
      
      text-wrap: nowrap;
    }

    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-wrap: wrap;
  }
  
  

  .bottomText{
   position: absolute;
   bottom: 1vh;
  }
  
  .bottomSubtext {

  }
  
  .bottomMaintext {
    text-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin-top: -1vh;
    .MobileYOUR{
      font-size: 3rem;
      
    }
    .MobileIDEAS{
      width: 100vw;
      margin-top: -0.5dvh;
      word-spacing: 0;
      letter-spacing: 0.3rem;
      font-size: 6rem;
      
      text-wrap: nowrap;
    }
  }


}
