@font-face {
  font-family: "Anton";
  src: url("/fonts/Anton/Anton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.contactContainer {
  display: flex;
  text-align: center;
  min-width: 100vw;
}

.formSection {
  flex: 3;
  padding: 50px;
  height: 100svh;

  .title {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 0.4em;
    letter-spacing: 2rem;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.formContainer div {
  margin-bottom: 1em;
}

.formContainer input,
.formContainer textarea {
  width: 100%;
  height: 8svh;
  font-size: 1.5rem;
  padding: 0.5em;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
}

.formContainer textarea {
  resize: vertical;
  height: 23svh;
}

.formContainer button {
  padding: 0.3em 1em;
  background-color: black;
  color: #ffff3f;
  font-weight: 700;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  width: 100%;
}

.formContainer button:hover {
  background-color: rgb(29, 29, 29);
}

.error {
  color: red;
  font-size: 0.875em;
  margin-top: 0.5em;
}

/* mbile for above */
@media only screen and (max-width: 600px) {
  .contactContainer {
    flex-direction: column;
  }
  .formSection {
    min-height: 70vh;

    padding: 30px 20px;

    .title {
      font-size: 3rem;
      letter-spacing: 0.5rem;
    }
  }

  .formContainer input,
  .formContainer textarea {
    height: 6svh;
    font-size: 1rem;
    padding: 0.4em;
  }

  .formContainer textarea {
    font-size: 1rem;
    height: 20dvh;
  }

  .error {
    color: red;
    font-size: 0.875em;
    margin-top: 0.2em;
  }
}

/* -----------------------------  links part ----------------------------- */
.bluseelEndorsment {
  text-decoration: none;
  color: inherit;
  position: absolute;
  bottom: 40px;
  font-weight: normal;

  .bluseelStyle {
    font-family: "Anton", sans-serif;
    color: white;
  }
}

.linksSection {
  position: relative;
  color: #ffff3f;
  background-color: black;
  flex: 1;
  padding: 50px;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;

  .title {
    font-size: 5rem;

    font-weight: bold;
  }

  .linksContainer {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    justify-content: center;
    row-gap: 10px;
  }

  /* simple rounded image */
  .imageContainer {
    display: flex;
    width: 100px;

    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;

      filter: contrast(80%) grayscale(100%);

      transition: filter 0.25s ease;
    }
    img:hover {
      filter: contrast(100%) grayscale(0%);
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 600px) {
  .linksSection {
    position: relative;
    padding: 20px;
    flex: 30vh;
    .title {
      font-size: 3rem;
      margin-bottom: 20px;
    }

    .linksContainer {
      flex-wrap: nowrap;
      column-gap: 10px;
    }

    .imageContainer {
      img {
        width: 70px;
      }
    }
  }
}
