.homeContainer{
  max-width: 100vw;
  position: relative;
  overflow-x: hidden;
}

.backgroundShape {
  cursor: url("/public/redDot.png");
  position: absolute;
  top: 0;
  right: -20vw;

  background-color: black;
  width: 70vw; 
  height: 100vh;
  transform: skew(30deg);
  z-index: -1;
}


@media only screen and (max-width: 600px) {
  .backgroundShape {
    top: 0;
    left: -70vw;
    width: 380vw; 

    transform: skew(60deg);

  }
}
