.projectsPageContainer{
  overflow-x: hidden;
  cursor: auto;
}

.projectNamesContainer{
  position: relative;
  height: 100vh;
  overflow-y: scroll;


  z-index: 5;
  ul{


    display: flex;
    flex-direction: column;
    li{
    padding: 0px 10px;  

      border-top: 2px solid black;}

    
  }
  li{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    
    transition: -webkit-text-fill-color 2s ease;
  }
  li:hover{
    cursor: pointer;
    -webkit-text-fill-color: black;

    transition: color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
  }
  ul:last-child{
    border-bottom: 2px solid black;
  }

  font-size: 4rem;
}




/* project review and description */
.projectReviewNDescription{
  transform: skew(10deg);

  position: absolute;
  bottom: 0;
  left: 30vw;
  width: 100%;

  display: flex;
  column-gap: 20px;

  img{
    width: 20px;
    height: 20px;
  }
}
.projectDescription{

  left: 100px;
}


/* transition */


.projectNamesContainer,
.singleProjectContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.enter {
  opacity: 0;
  transform: translateX(100%);
}

.enterActive {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.exit {
  opacity: 1;
  transform: translateX(0);
}

.exitActive {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}
