.singleProjectContainer{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  height: 100vh;
  display: flex;
  overflow-x: hidden;

  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
}


.singleProjectContainer{
  display: flex;
  flex-direction: row;

}

@media (max-width: 900px) { /* Tablet */
  .singleProjectContainer{
    flex-wrap: wrap;
  }
  .projectPicture {
    width: 50%; /* Half of the container width */
  }

}

.projectPicture{
  width: 100%;
  scroll-snap-align: start;
}




/* this has everyhting inside gray box */

.projectDetail{
  cursor: auto;
  
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45vw;
  height: 30vh;
  padding: 10px;
  color: black;
  ul{
    list-style: none;
    padding-left: 5px;

    li{
      padding-top: 5px;
    }
  }

  /* From https://css.glass */
  background: rgba(217, 215, 215, 0.39);
  box-shadow: 0 4px 30px rgba(110, 109, 109, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  .projectName{
    font-size: 2rem;
  }
}



/*this has control buttons inside it */
.projectInfo{
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;

  
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controlButtons{
  display: flex;
  column-gap: 10px;
  align-items: center;
    img{
    width: 40px;
    background-color:rgba(2, 1, 1, 0.39);
    
  }

  img:hover{
    background-color:rgba(2, 1, 1, 0.171);
    
    
    cursor: pointer;
  }
  img:active{
    background-color:rgba(2, 1, 1, 0.587);
    
    cursor: pointer;
  }
}

.crossButton{
  padding: 10px;
}

.externalButton{
  padding: 5px;
}

/* tablet */
@media (max-width: 900px) {
  .controlButtons{
    img{
      width: 70px;
    }
  }
}


/*phone  */
@media (max-width: 700px) {
  .controlButtons{
    img{
      width: 40px;
    }
  }
}

