
/* Universal selector reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
}


body{
  
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}